.gutter {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    display: block;
    width: 20%;
    min-width: 400px;
    border-left: 5px #370511ff solid;
    box-sizing: content-box;
}
.gutter > iframe {
    height: 100%;
    width: 100%;
    border: 0;
}
.close {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: #370511ff 4px solid;
    position: fixed;
    margin: 5px -49px;
    box-sizing: inherit;
}
.close-span {
    display: table-cell;
    vertical-align: middle;
    height: 42px;
    width: 40px;
    text-align: center;
    font: 2em sans-serif;
    cursor: pointer;
    box-sizing: inherit;
}
.close-span:hover {
    background-color: rgba(56, 5, 17, 0.05);
}