.bestow-slideout-gutter {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    display: block;
    width: 20%;
    min-width: 360px;
    border: 1px darkgray solid;
    box-sizing: content-box;
}

@media screen and (max-width: 500px) {
    .bestow-slideout-gutter {
        width: 100%;
    }
}

@media screen and (min-width: 501px) {
    .bestow-slideout-gutter {
        width: 70%;
    }
}

@media screen and (min-width: 800px) {
    .bestow-slideout-gutter {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .bestow-slideout-gutter {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .bestow-slideout-gutter {
        width: 30%;
    }
}

@media screen and (min-width: 2000px) {
    .bestow-slideout-gutter {
        width: 20%;
    }
}

.bestow-slideout-nav {
    height: 30px;
    display: block;
    background-color: rgba(44, 89, 104);
}
.bestow-slideout-gutter > iframe {
    height: 100%;
    width: 100%;
    border: 0;
}
.bestow-slideout-close {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: inherit;
    float: right;
}
.bestow-slideout-close-span {
    display: table-cell;
    vertical-align: right;
    height: 25px;
    width: 25px;
    text-align: center;
    font: 19px sans-serif;
    font-weight: 800;
    cursor: pointer;
    box-sizing: inherit;
    color: white;
    float: right;
    margin-right: 18px;
}