.bestow-modal {
    position: absolute;
    height: 90%;
    margin: 0 auto;
    left: 0;
    right: 0; 
    top: 5%;
    bottom: 5%;
    background-color: white;
    z-index: 1;
    display: block;
    width: 100%;
    min-width: 360px;
    border: 1px darkgray solid;
    box-sizing: content-box;
}
.bestow-modal-screen {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    Z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}
.bestow-modal-nav {
    height: 42px;
    display: block;
    background-color: #FFFFFF; /* White */
    padding: 5px;
}
.bestow-modal > iframe {
    height: 100%;
    width: 100%;
    border: 0;
}
.bestow-modal-close {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-right: -50px;
}
.bestow-modal-close-forward-slash {
    height: 18px;
    width: 1.5px;
    margin: 6px auto;
    background-color: #0B3541; /* Bestow Navy */
    transform: rotate(45deg);
}
.bestow-modal-close-back-slash {
    height: 18px;
    width: 1.5px;
    background-color: #0B3541; /* Bestow Navy */
    transform: rotate(90deg);
}

@media screen and (max-width: 530px) {
    .bestow-modal {
        width: 100%;
    }
}

@media screen and (min-width: 531px) {
    .bestow-modal {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .bestow-modal {
        width: 60%;
        min-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .bestow-modal {
        width: 50%;
    }
}

@media screen and (min-width: 2000px) {
    .bestow-modal {
        width: 40%;
    }
}
