.bestow-modal {
    position: absolute;
    height: 90%;
    margin: 0 auto;
    left: 0;
    right: 0; 
    top: 5%;
    bottom: 5%;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    display: block;
    width: 100%;
    min-width: 400px;
    border: 1px darkgray solid;
    box-sizing: content-box;
}

@media screen and (max-width: 400px) {
    .bestow-modal {
        width: 100%;
    }
}

@media screen and (min-width: 401px) {
    .bestow-modal {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .bestow-modal {
        width: 60%;
        min-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .bestow-modal {
        width: 50%;
    }
}

@media screen and (min-width: 2000px) {
    .bestow-modal {
        width: 40%;
    }
}

.bestow-modal-nav {
    height: 30px;
    display: block;
    background-color: rgba(44, 89, 104);
}
.bestow-modal > iframe {
    height: 100%;
    width: 100%;
    border: 0;
}
.bestow-modal-close {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: inherit;
    float: right;
}
.bestow-modal-close-span {
    display: table-cell;
    vertical-align: right;
    height: 25px;
    width: 25px;
    text-align: center;
    font: 19px sans-serif;
    font-weight: 800;
    cursor: pointer;
    box-sizing: inherit;
    color: white;
    float: right;
    margin-right: 18px;
}