<div>
  <link href="./learn-online-security.css" rel="stylesheet" />
  <div class="learn-online-security-feature-card">
    <div class="learn-online-security-container">
      <svg viewBox="0 0 1024 1024" class="learn-online-security-icon">
        <path
          d="M512 42l384 172v256q0 178-110 325t-274 187q-164-40-274-187t-110-325v-256z"
        ></path>
      </svg>
    </div>
    <h2 class="learn-online-security-heading"><span>Learn about our</span></h2>
    <h2 class="learn-online-security-heading1"><span>Online Security</span></h2>
  </div>
</div>
