<div>
  <link href="./life-insurance-ad.css" rel="stylesheet" />
  <div class="life-insurance-ad-feature-card">
    <div class="life-insurance-ad-container">
      <div class="life-insurance-ad-container1">
        <a
          href="https://bestowlink.com"
          target="_blank"
          rel="noreferrer noopener"
          class="life-insurance-ad-link"
        >
          <span>Affordable Term Life Insurance</span>
        </a>
        <span class="life-insurance-ad-text">
          <span>
            Bestow Term life insurance provides guaranteed protection and level
            premiums during your term length.
          </span>
        </span>
      </div>
      <img
        alt="image"
        src="../public/playground_assets/bestow_image-200h.jpg"
        class="life-insurance-ad-image"
      />
    </div>
  </div>
</div>
