<div>
  <link href="./login.css" rel="stylesheet" />
  <div class="login-container">
    <form class="login-form">
      <label>Username</label>
      <a
        href="https://example.com"
        target="_blank"
        rel="noreferrer noopener"
        class="login-link"
      >
        <span class="login-text1">Need Help</span>
        <span>?</span>
      </a>
      <input type="text" placeholder="placeholder" class="input" />
      <input type="checkbox" checked="true" />
      <label class="login-text3">Remember me</label>
      <label class="login-text4">
        <br />
        <span>Password</span>
      </label>
      <input type="text" placeholder="placeholder" class="input" />
    </form>
  </div>
</div>
