<div>
  <link href="./stock-accounts-summary.css" rel="stylesheet" />
  <div class="stock-accounts-summary-feature-card">
    <div class="stock-accounts-summary-container">
      <div class="stock-accounts-summary-container1">
        <span class="stock-accounts-summary-text">
          <span>FUNTIME STOCKS</span>
        </span>
        <span class="stock-accounts-summary-text1"><span>1016590</span></span>
      </div>
      <div class="stock-accounts-summary-container2">
        <span class="stock-accounts-summary-text2">
          <span>$50,140.20</span>
        </span>
        <span class="stock-accounts-summary-text3">
          <span>$2025.66 (+4.04%)</span>
        </span>
      </div>
    </div>
  </div>
</div>
