<div>
  <link href="./top-news1.css" rel="stylesheet" />
  <div class="top-news1-container">
    <div class="top-news1-container1">
      <a
        href="https://example.com"
        target="_blank"
        rel="noreferrer noopener"
        class="top-news1-link"
      >
        <span>
          Analysis-After U.S. bank stock surge, options traders brace for
          earnings-fueled volatility
        </span>
      </a>
      <span class="top-news1-text">
        <span>Reuters - 1:00 PM ET 1/11/2022</span>
      </span>
    </div>
  </div>
</div>
