# Components Overview

The ability to embed the Bestow application into your website comes in several flavors. They can be combined
depending on the desired user experience.

Various javascript files (components) were created for this purpose. The goal of these javascript files are to 
reduce the amount of integration and configuration needed by partners. Making it as seamless and easy as possible 
and reducing your time to market. All components are written in plain vanilla javascript.

* [Slideout](#slideout)
* [Accordion](#accordion)
* [Modal](#modal)


### Live Examples


<button id="get-quote-slideout" href="#" onclick='openBestowSlideout(this.id)' rel="noreferrer noopener">Using a Slideout</button>

<button id="life-insurance-button" class="life-insurance-button">Using an Accordion</button>
<div id="life-insurance-accordion-content" class="life-insurance-accordion-content"></div>

<button id="get-quote-modal" href="#" onclick='openBestowModal(this.id)' rel="noreferrer noopener">Using a Modal</button>

<%= partial "includes/components/slideout.html.md" %>
<%= partial "includes/components/accordion.html.md" %>
<%= partial "includes/components/modal.html.md" %>
