.all-accounts-summary-feature-card {
  width: 100%;
  display: flex;
  padding: 15px;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.all-accounts-summary-heading {
  color: var(--dl-color-gray-black);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.all-accounts-summary-text1 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
}

