.experts1-container {
  width: 246px;
  height: 145px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.experts1-container1 {
  width: 249px;
  height: 132px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.experts1-text {
  color: #0645ad;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-bottom: var(--dl-space-space-halfunit);
}
.experts1-text1 {
  font-size: 16px;
  max-width: 250px;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
}


@media(max-width: 767px) {
  .experts1-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .experts1-container {
    width: 300px;
  }
}
