.market-movers-feature-card {
  width: 650px;
  height: 45px;
  display: flex;
  padding: 15px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.market-movers-container {
  flex: 0 0 auto;
  width: 523px;
  display: flex;
  align-items: flex-start;
}
.market-movers-container1 {
  flex: 0 0 auto;
  width: 229px;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.market-movers-text {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
.market-movers-container2 {
  flex: 0 0 auto;
  width: 392px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.market-movers-icon {
  fill: var(--dl-color-gray-700);
  width: 24px;
  height: 24px;
  align-self: center;
}
.rootClassName {
  width: 700px;
}
