<div>
  <link href='market-movers-open.css' rel="stylesheet" />
  <div class="market-movers-open-feature-card">
    <div class="market-movers-open-container">
      <div class="market-movers-open-container01">
        <div class="market-movers-open-container02">
          <span class="market-movers-open-text">
            <span>Market Movers</span>
          </span>
        </div>
        <div class="market-movers-open-container03"></div>
      </div>
      <div class="market-movers-open-container04">
        <div class="market-movers-open-container05">
          <span class="market-movers-open-text01"><span>Symbol</span></span>
        </div>
        <div class="market-movers-open-container06">
          <span class="market-movers-open-text02"><span>Volume</span></span>
        </div>
        <div class="market-movers-open-container07">
          <span class="market-movers-open-text03">
            <span>90-Day Avg.</span>
          </span>
        </div>
        <div class="market-movers-open-container08">
          <span class="market-movers-open-text04">
            <span>Today's Gain/Loss</span>
          </span>
        </div>
      </div>
      <div class="market-movers-open-container09">
        <div class="market-movers-open-container10">
          <span class="market-movers-open-text05"><span>ALOR</span></span>
        </div>
        <div class="market-movers-open-container11">
          <span class="market-movers-open-text06"><span>3.3k</span></span>
        </div>
        <div class="market-movers-open-container12">
          <span class="market-movers-open-text07"><span>0k</span></span>
        </div>
        <div class="market-movers-open-container13">
          <span class="market-movers-open-text08"><span>890%</span></span>
        </div>
      </div>
      <div class="market-movers-open-container14">
        <div class="market-movers-open-container15">
          <span class="market-movers-open-text09"><span>GMVD</span></span>
        </div>
        <div class="market-movers-open-container16">
          <span class="market-movers-open-text10"><span>22,082.9k</span></span>
        </div>
        <div class="market-movers-open-container17">
          <span class="market-movers-open-text11"><span>748k</span></span>
        </div>
        <div class="market-movers-open-container18">
          <span class="market-movers-open-text12"><span>35.32%</span></span>
        </div>
      </div>
      <div class="market-movers-open-container19">
        <div class="market-movers-open-container20">
          <span class="market-movers-open-text13"><span>DAVE</span></span>
        </div>
        <div class="market-movers-open-container21">
          <span class="market-movers-open-text14"><span>11681.2k</span></span>
        </div>
        <div class="market-movers-open-container22">
          <span class="market-movers-open-text15"><span>151.4k</span></span>
        </div>
        <div class="market-movers-open-container23">
          <span class="market-movers-open-text16"><span>19.49%</span></span>
        </div>
      </div>
      <div class="market-movers-open-container24">
        <div class="market-movers-open-container25">
          <span class="market-movers-open-text17"><span>BTCS</span></span>
        </div>
        <div class="market-movers-open-container26">
          <span class="market-movers-open-text18"><span>37,803.4k</span></span>
        </div>
        <div class="market-movers-open-container27">
          <span class="market-movers-open-text19"><span>1,133.6k</span></span>
        </div>
        <div class="market-movers-open-container28">
          <span class="market-movers-open-text20"><span>17.16%</span></span>
        </div>
      </div>
      <div class="market-movers-open-container29">
        <div class="market-movers-open-container30">
          <span class="market-movers-open-text21"><span>BBLN</span></span>
        </div>
        <div class="market-movers-open-container31">
          <span class="market-movers-open-text22"><span>534k</span></span>
        </div>
        <div class="market-movers-open-container32">
          <span class="market-movers-open-text23"><span>321.3k</span></span>
        </div>
        <div class="market-movers-open-container33">
          <span class="market-movers-open-text24"><span>16.83%</span></span>
        </div>
      </div>
      <div class="market-movers-open-container34">
        <div class="market-movers-open-container35">
          <span class="market-movers-open-text25"><span>CSM</span></span>
        </div>
        <div class="market-movers-open-container36">
          <span class="market-movers-open-text26"><span>4.9k</span></span>
        </div>
        <div class="market-movers-open-container37">
          <span class="market-movers-open-text27"><span>15.9k</span></span>
        </div>
        <div class="market-movers-open-container38">
          <span class="market-movers-open-text28"><span>-50.35%</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
