.perspective-container {
  width: 476px;
  height: 105px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.perspective-container1 {
  width: 100%;
  height: 104px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.perspective-container2 {
  width: 100%;
  height: 121px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perspective-icon {
  width: 24px;
  height: 24px;
  margin: 15px;
}
.perspective-text {
  color: var(--dl-color-gray-black);
  width: 80%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}
.perspective-link {
  color: #0645ad;
  align-self: flex-start;
  margin-left: 55px;
}
.rootClassName {
  margin-bottom: 20px;
}

@media(max-width: 767px) {
  .perspective-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .perspective-container {
    width: 300px;
  }
}
