<div>
  <link href='top-and-bottom-movers.css' rel="stylesheet" />
  <div class="top-and-bottom-movers-feature-card">
    <div class="top-and-bottom-movers-container">
      <div class="top-and-bottom-movers-container01">
        <div class="top-and-bottom-movers-container02">
          <span class="top-and-bottom-movers-text">
            <span>Your Top & Bottom Movers</span>
          </span>
        </div>
        <div class="top-and-bottom-movers-container03">
          <svg viewBox="0 0 1024 1024" class="top-and-bottom-movers-icon">
            <path
              d="M213.333 85.333c-35.328 0-67.413 14.379-90.496 37.504s-37.504 55.168-37.504 90.496v597.333c0 35.328 14.379 67.413 37.504 90.496s55.168 37.504 90.496 37.504h597.333c35.328 0 67.413-14.379 90.496-37.504s37.504-55.168 37.504-90.496v-597.333c0-35.328-14.379-67.413-37.504-90.496s-55.168-37.504-90.496-37.504zM213.333 170.667h597.333c11.776 0 22.4 4.736 30.165 12.501s12.501 18.389 12.501 30.165v597.333c0 11.776-4.736 22.4-12.501 30.165s-18.389 12.501-30.165 12.501h-597.333c-11.776 0-22.4-4.736-30.165-12.501s-12.501-18.389-12.501-30.165v-597.333c0-11.776 4.736-22.4 12.501-30.165s18.389-12.501 30.165-12.501zM341.333 554.667h341.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-341.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="top-and-bottom-movers-container04">
        <div class="top-and-bottom-movers-container05">
          <span class="top-and-bottom-movers-text01"><span>Symbol</span></span>
        </div>
        <div class="top-and-bottom-movers-container06">
          <span class="top-and-bottom-movers-text02">
            <span>Today's Gain/Loss</span>
          </span>
        </div>
        <div class="top-and-bottom-movers-container07">
          <span class="top-and-bottom-movers-text03">
            <span>Last Price</span>
          </span>
        </div>
      </div>
      <div class="top-and-bottom-movers-container08">
        <div class="top-and-bottom-movers-container09">
          <div class="top-and-bottom-movers-container10">
            <span class="top-and-bottom-movers-text04"><span>AMAT</span></span>
            <span class="top-and-bottom-movers-text05">
              <span>APPLIED MATERIALS INC COM USD0.01</span>
            </span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container11">
          <div class="top-and-bottom-movers-container12">
            <span class="top-and-bottom-movers-text06">
              <span>$352.50 (2.35%)</span>
            </span>
            <span class="top-and-bottom-movers-text07"><span></span></span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container13">
          <div class="top-and-bottom-movers-container14">
            <span class="top-and-bottom-movers-text08">
              <span>$163.300</span>
            </span>
            <span class="top-and-bottom-movers-text09"><span></span></span>
          </div>
        </div>
      </div>
      <div class="top-and-bottom-movers-container15">
        <div class="top-and-bottom-movers-container16">
          <div class="top-and-bottom-movers-container17">
            <span class="top-and-bottom-movers-text10"><span>JUESX</span></span>
            <span class="top-and-bottom-movers-text11">
              <span>JPMORGAN US EQUITY FUND CLASS I</span>
            </span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container18">
          <div class="top-and-bottom-movers-container19">
            <span class="top-and-bottom-movers-text12">
              <span>$9.55 (0.32%)</span>
            </span>
            <span class="top-and-bottom-movers-text13"><span></span></span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container20">
          <div class="top-and-bottom-movers-container21">
            <span class="top-and-bottom-movers-text14">
              <span>$21.87</span>
            </span>
            <span class="top-and-bottom-movers-text15"><span></span></span>
          </div>
        </div>
      </div>
      <div class="top-and-bottom-movers-container22">
        <div class="top-and-bottom-movers-container23">
          <div class="top-and-bottom-movers-container24">
            <span class="top-and-bottom-movers-text16"><span>AMD</span></span>
            <span class="top-and-bottom-movers-text17">
              <span>ADVANCED MICRO DEVICES INC</span>
            </span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container25">
          <div class="top-and-bottom-movers-container26">
            <span class="top-and-bottom-movers-text18">
              <span>$128.76 (0.32%)</span>
            </span>
            <span class="top-and-bottom-movers-text19"><span></span></span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container27">
          <div class="top-and-bottom-movers-container28">
            <span class="top-and-bottom-movers-text20">
              <span>$137.905</span>
            </span>
            <span class="top-and-bottom-movers-text21"><span></span></span>
          </div>
        </div>
      </div>
      <div class="top-and-bottom-movers-container29">
        <div class="top-and-bottom-movers-container30">
          <div class="top-and-bottom-movers-container31">
            <span class="top-and-bottom-movers-text22"><span>MSFT</span></span>
            <span class="top-and-bottom-movers-text23">
              <span>MICROSOFT CORP</span>
            </span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container32">
          <div class="top-and-bottom-movers-container33">
            <span class="top-and-bottom-movers-text24">
              <span>-$53.70 (-0.28%)</span>
            </span>
            <span class="top-and-bottom-movers-text25"><span></span></span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container34">
          <div class="top-and-bottom-movers-container35">
            <span class="top-and-bottom-movers-text26">
              <span>$317.375</span>
            </span>
            <span class="top-and-bottom-movers-text27"><span></span></span>
          </div>
        </div>
      </div>
      <div class="top-and-bottom-movers-container36">
        <div class="top-and-bottom-movers-container37">
          <div class="top-and-bottom-movers-container38">
            <span class="top-and-bottom-movers-text28"><span>FSRPX</span></span>
            <span class="top-and-bottom-movers-text29">
              <span>FIDELITY SELECT RETAILING</span>
            </span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container39">
          <div class="top-and-bottom-movers-container40">
            <span class="top-and-bottom-movers-text30">
              <span>-$1.76 (-0.54%)</span>
            </span>
            <span class="top-and-bottom-movers-text31"><span></span></span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container41">
          <div class="top-and-bottom-movers-container42">
            <span class="top-and-bottom-movers-text32">
              <span>$21.95</span>
            </span>
            <span class="top-and-bottom-movers-text33"><span></span></span>
          </div>
        </div>
      </div>
      <div class="top-and-bottom-movers-container43">
        <div class="top-and-bottom-movers-container44">
          <div class="top-and-bottom-movers-container45">
            <span class="top-and-bottom-movers-text34"><span>NVDA</span></span>
            <span class="top-and-bottom-movers-text35">
              <span>NVIDIA CORPORATION COM</span>
            </span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container46">
          <div class="top-and-bottom-movers-container47">
            <span class="top-and-bottom-movers-text36">
              <span>-$385.92 (-1.44%)</span>
            </span>
            <span class="top-and-bottom-movers-text37"><span></span></span>
          </div>
        </div>
        <div class="top-and-bottom-movers-container48">
          <div class="top-and-bottom-movers-container49">
            <span class="top-and-bottom-movers-text38">
              <span>$275.970</span>
            </span>
            <span class="top-and-bottom-movers-text39"><span></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
