---
title: ProtectLite

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript
#  - json

toc_footers:
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

search: true

code_clipboard: true

meta:
  - name: description
    content: ProtectLite index for Bestow
---

<aside class="warning"> This guide is a work in progress and subject to change.</aside>

# Integration Guide

The Bestow application can be embedded inside your own hosted website. This document contains guidelines
and examples of how this can be achieved.

<%= partial "includes/prerequisites.html.md" %>
<%= partial "includes/components.html.md.erb" %>
<%= partial "includes/browser-support.html.md" %>
<%= partial "includes/release.html.md" %>
